Laboratorios/Laboratorio2/PlataformaIntercambio/PlataformaIntercambio/Service References/ServicioWebCotizador/ServicioWebCotizador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CotizacionDolar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CotizacionDolarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CotizacionDolarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CotizacionDolarSoapIn">
    <wsdl:part name="parameters" element="tns:CotizacionDolar" />
  </wsdl:message>
  <wsdl:message name="CotizacionDolarSoapOut">
    <wsdl:part name="parameters" element="tns:CotizacionDolarResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebCotizadorSoap">
    <wsdl:operation name="CotizacionDolar">
      <wsdl:input message="tns:CotizacionDolarSoapIn" />
      <wsdl:output message="tns:CotizacionDolarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebCotizadorSoap" type="tns:ServicioWebCotizadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CotizacionDolar">
      <soap:operation soapAction="http://tempuri.org/CotizacionDolar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebCotizadorSoap12" type="tns:ServicioWebCotizadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CotizacionDolar">
      <soap12:operation soapAction="http://tempuri.org/CotizacionDolar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebCotizador">
    <wsdl:port name="ServicioWebCotizadorSoap" binding="tns:ServicioWebCotizadorSoap">
      <soap:address location="http://localhost:1029/ServicioWebCotizador.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebCotizadorSoap12" binding="tns:ServicioWebCotizadorSoap12">
      <soap12:address location="http://localhost:1029/ServicioWebCotizador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>