Laboratorios/Laboratorio2/SitioComercio/SitioComercio/Service References/ServicioWebPlataformaIntercambio/ServicioWebPlataformaIntercambio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RealizarTransaccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idVendedor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarTransaccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RealizarTransaccionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RealizarTransaccionSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarTransaccion" />
  </wsdl:message>
  <wsdl:message name="RealizarTransaccionSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarTransaccionResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebPlataformaIntercambioSoap">
    <wsdl:operation name="RealizarTransaccion">
      <wsdl:input message="tns:RealizarTransaccionSoapIn" />
      <wsdl:output message="tns:RealizarTransaccionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebPlataformaIntercambioSoap" type="tns:ServicioWebPlataformaIntercambioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarTransaccion">
      <soap:operation soapAction="http://tempuri.org/RealizarTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebPlataformaIntercambioSoap12" type="tns:ServicioWebPlataformaIntercambioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarTransaccion">
      <soap12:operation soapAction="http://tempuri.org/RealizarTransaccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebPlataformaIntercambio">
    <wsdl:port name="ServicioWebPlataformaIntercambioSoap" binding="tns:ServicioWebPlataformaIntercambioSoap">
      <soap:address location="http://localhost:30661/ServicioWebPlataformaIntercambio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebPlataformaIntercambioSoap12" binding="tns:ServicioWebPlataformaIntercambioSoap12">
      <soap12:address location="http://localhost:30661/ServicioWebPlataformaIntercambio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>