PracticasClase/EjerciciosPre2Parcial/Ejercicio1App/Ejercicio1App/Service References/WeatherService/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Forecast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForecastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForecastResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ForecastSoapIn">
    <wsdl:part name="parameters" element="tns:Forecast" />
  </wsdl:message>
  <wsdl:message name="ForecastSoapOut">
    <wsdl:part name="parameters" element="tns:ForecastResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherServiceSoap">
    <wsdl:operation name="Forecast">
      <wsdl:input message="tns:ForecastSoapIn" />
      <wsdl:output message="tns:ForecastSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherServiceSoap" type="tns:WeatherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Forecast">
      <soap:operation soapAction="http://tempuri.org/Forecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherServiceSoap12" type="tns:WeatherServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Forecast">
      <soap12:operation soapAction="http://tempuri.org/Forecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="WeatherServiceSoap" binding="tns:WeatherServiceSoap">
      <soap:address location="http://localhost:1052/WeatherService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherServiceSoap12" binding="tns:WeatherServiceSoap12">
      <soap12:address location="http://localhost:1052/WeatherService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>